body{
	background-color: $background-red;
}

h1{
	color: $color-white;
	font-family: 'Anton', sans-serif;
	font-size: 60px;
}

#primera-pelis{
	margin-top:30%;
}

.btn-default-uno{
	@include boton();
	border:none;
	padding: 6px 100px;
	margin-top: 15%;
	
}

.btn-default-dos{
	@include boton();
	border:none;
	padding: 6px 70px;
	margin-top: 5%;
}

h5{
	color: $color-white;
	margin-top: 5%;
}

