/*seccion mis pelis*/
*{
	padding:0;
	margin:0;
}

#uno{
	background-color: $background-red;
}

h1{
	color: $color-white;
	font-family: 'Anton', sans-serif;
	font-size: 60px;
}

#primera-pelis{
	margin-top:30%;
	background-color: $background-red;
}

.btn-default-uno{
	@include boton();
	border:none;
	padding: 6px 100px;
	margin-top: 15%;
	
}

.btn-default-dos{
	@include boton();
	border:none;
	padding: 6px 70px;
	margin-top: 5%;
}

h5{
	color: $color-white;
	margin-top: 5%;
	font-family: 'Oswald', sans-serif;
}


/*seccion create account*/
#dos{
	background-color: $background-gray;
}

.navbar-static-top{
	height:80px;
}

.pull-left{
	margin-top: -20%;
	border:none;
	position:fixed;
}


ul{
  background-color: $background-white;
}

li:hover{
  background-color: #E8A511;
}

#titulo-create{
  color:$color-gray;
  margin-top:45px;
  margin-right: 10%;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

#create-datos{
  background-color: $background-gray;
}

.mini-titulo{
	@include mini-titulo();
	padding-left: 20px;
	font-family: 'Oswald', sans-serif;
}

#titulo-create{
	text-align: center;
}

.ingresar-account{
	margin-left: 5%;
	padding: 6px 45px;
	border: none;
}

.btn-default-2{
	
	margin-top: 40%;
	color: $color-white;
	padding: 5px 70px;
	background-color: $background-black;
}

.fa-search{
	color:$color-white;
	padding-left:277px;
	margin-top:5%;
}

/*seccion movies*/

#tres{
	background-color: $background-white;
}

.navbar-toggle {
  float:right;
}
ul{
  background-color: $background-white;
}

li:hover{
  background-color: #E8A511;
}

#descripcion{
	text-align:justify;
	color:$color-gray;
}

.titulos-actor{
	color: $color-red;
	margin-left: -50%;
}

.btn-default-tres{
	color: $color-gray;
	font-size:18px;
}

.btn{
	background-color:$background-claro;
	padding: 8px 110px;

}

.fa-angle-down{
	color: $color-black;
	font-weight: bold;
	margin-left: 100%;
	font-size: 24px;
}


/*seccion actor*/
#actor{
	background-color: $background-red;
	height:40vh;
	margin-top:-6%;
  }

#john{
	color:$color-white;
	margin-top: 35%;
	font-family: 'Anton', sans-serif;
}

#tipos-pelis{
	background-color: $background-white;
}

.estilos-pelis{
	color: $color-gray;
	font-family: 'Oswald', sans-serif;

}

tr{
	font-size:11px;
	color: $color-gray;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
}

.table{
	margin-top:3%;
	padding:10px;
	line-height: 2;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
}