$titulos-font: 'Oswald', sans-serif;
$parrafos-font: 'Anton', sans-serif;
$background-white: white;
$background-red: #c14748;
$background-black: #2b2c30;
$background-gray: #e2e2e2;
$color-white: white;
$color-red: #8e1818;
$color-black: #2b2c30;
$color-gray: #e2e2e2;